$ancho: 100%;
$negro: black;
$blanco: white;
$estilo: grid;
$tipo: 'Sarabun', sans-serif;
$medio: center;
$flex: flex;
$grande: uppercase;



* {
    margin: 0;
    padding: 0; }
  
  html {
    background-color: $blanco; }

    .navbar-light .navbar-nav .nav-link:hover {
      color: rgb(239, 141, 48);
  }
  
  .bg-light {
      background-color: $negro !important;
  }
  
  .navbar-light .navbar-nav .nav-link {
      color: $blanco;
  }
   
  .navbar-toggler {
      background-color: $blanco;
      
  }
  
  .navbar-nav {
      font-size: 1.4rem;
      margin-right: 100px;
  }
  
  .ml-auto {
      margin-left: auto !important;
  }
  
  .img-fluid {
      margin-right: 40px;
      height: 100px;
      
  }
   
  p {
    text-transform: none;
    
    font-size: 150%;
    color: $negro;
    display: inline-flex; }

  @keyframes aparecer {
    0% {
      opacity: 0; }
    100% {
      opacity: 1; } }
  
  .mainform {
    display: flex;
    justify-content: $medio;
  
    &__set {
      flex-flow: column;
      color:  $negro;
      font-family: $tipo;
      font-size: 200%;
      display: inline-flex;
      margin-top: 20px;
      gap: 10px; }

    &__setdiv {
        justify-content: $medio;
        display: flex;
        text-transform: $grande; }

        
    
  }

  
  input + span {
    padding-right: 30px;
  }
  
  input:invalid+span:after {
    position: absolute; content: '✖';
    padding-left: 3px;
    color: #8b0000;
    font-size: 50%;
  }
  
  input:valid+span:after {
    position: absolute;
    content: '✓';
    padding-left: 3px;
    color: #009000;
    font-size: 50%;
  }
  
  label {
    font-size: 20px; }
  
  .imagen {
    width: 40%;
    height: 40%;
    flex-direction: row; }


  // inicio de estilos del menu y promociones

    .main {
      height: 1100px;
    }


    .sectionMain {
      display: $estilo;
      grid-template-columns: 30% 30% 30%;
      grid-template-rows: 30% 30% 30%;
      grid-template-areas: 
                        "foto1  foto2 foto3"
                        "foto4  foto5 foto6"
                        "foto7  foto8 foto7";
      height: auto;
      width: $ancho;
      gap: 60px;  
      margin: 50px 0 0 0;              
     }
     
     .sectionMain .menuDiv{
     
         display: flex;
         justify-content: center;
         text-align: center;
         height: 320px;
     }
     
     .sectionMain .menuDiv .card {
         box-shadow: 0 0 15px 0;
         align-items: center;
         font-family: 'Sarabun', sans-serif;
         width: 18rem;
         
     }
     
     .card-title {
         text-transform: uppercase;
         
     }
     
     .card-img-top {
         width: 70% !important;
         height: 200px;
     }
     

  .setDiv {
      justify-content: center;
      display: flex;
      text-transform: uppercase;
      margin-top: 45px;
      text-align: center;
      margin-right: 0;
      width: 90%;
     }

     .mainPromo {
      height: 1300px;
    }
    
  
  .btn-primary   {
  color: $blanco;
  background-color: $negro;
  border-color: $negro;
  font-family: $tipo;
  }

  .btn-primary:hover {
    background-color: #ef8d30;
    border-color: #ef8d30;
  }
  // final de estilos menu y promociones

  // Inicio de estilos del footer


  #piePagina {
    display: $estilo;
    grid-template-columns: 13% 10%  10% 10% 43%;
    grid-template-rows: $ancho;
    grid-template-areas: "icono icono titulo icono icono";
    height: 120px;
    border: 3px solid $negro;
    align-items: center;
    gap: 15px;
    background-color: $negro; }
  
  #piePagina h2 {
    color: $blanco;
    font-style: italic;
    text-align: $medio;
    font-size: 200%; }
  
  #piePagina div img {
    align-content: $medio;
    width: 30px; }
  
  #piePagina .face {
    margin-left: 30px; }
  
  #piePagina .folog {
    width: 120px;
    margin-left: 85%; }
  
  #piePagina .what {
    width: 38px; }

    // final de los estilos footer

    // inicio de los estilos de la galeria
  
    .titulo__galeria {
      font-weight: 400;
      text-align: $medio;
      padding: 20px 0;
      font-size: 40px;
      text-transform: $grande;
  }
  
  .linea {
      background: #ef8d30;
      height: 5px;
      width: $ancho;
      display: block;
  }
  
  .galeria {
    display: $estilo;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    width: 95%;
    margin: auto;
    gap: 10px;
    padding: 40px 0;
    overflow: hidden;
   text-transform: $grande;
}

.galeria  a {
  display: block;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px #040404;
}

.galeria a:hover img{
  filter: blur(1px);
  transform: rotate(10deg) scale(1.3);
}

.galeria img {
 width: $ancho;
 vertical-align: top;
 height: 300px;
 object-fit: cover;
 transition: transform 0.5s;
}

.libre-box {
  position: fixed;
  top: 0;
  left: 0;
  background: #020202b3;
  transition: transform .03s ease-in-out;
  width: $ancho;
  height: 100vh;
  z-index: 1000;
  display: flex;
  justify-content: $medio;
  align-items: $medio;
  transform: scale(0);
}

.libre-box img {
  width: 40vw;
  height: 50vh;
}

.close {
  display: block;
  position: absolute;
  top: 40px;
  right: 40px;
  background: #851919;
  color: #fff;
  text-decoration: none;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50px;
  
}

.libre-box:target {
  transform: scale(1);
}

.next {
  display: block;
  background: #851919;
  color: #fff;
  text-decoration: none;
  width: 30px;
  height: 30px;
  text-align: $medio;
}

.next img {
  width: 20px;
  height: 20px;
}

// final de los estilos de la galeria

// inicio de los estilos del home 
.bodyMain {
  background: black;
}
.indexMain {
  width: 100vw;
  height: 100vh;
  
}

.indexMain .index{
  display: $estilo;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  height: 100vh;
 
}

.indexDiv {
  grid-column: 1 / 11;
  grid-row: 1 / 10;
}

.indexMain img {

  width: $ancho;
  height: 100vh;
 

}

.indexButton {

  grid-column: 1 / 6;
  display: $estilo;
   justify-content: $medio;
  align-content: $medio; 
  grid-row: 1 / 4;
}

#buttonIndex {
  color: $blanco;
  background-color: #ef8d30;
  border-color: #ef8d30;
  

}

#buttonIndex:hover {
  background-color: #ff0000;
  border-color: #fa0000;
}

.titulo {
  grid-column: 1 / 6;
  grid-row: 1 / 2;
  text-align: $medio;
  align-items: $medio;
  display: $estilo;
}
.tituloIndex {
  font-family: 'National2Condensed-Bold';
  font-size: 2.6rem;
  color: #ef8d30;
  text-transform: $grande;
}

.tituloTi {
  grid-column: 6 / 10;
  grid-row: 2 / 3;
  text-align: $medio;
  align-items: $medio;
  display: $estilo;

}

.tituloTo {
  font-family: 'National2Condensed-Bold';
  font-size: 2.3rem;
  color: #ef8d30;
  text-transform: $grande;
  
}

// final de estilos del home


    @media only screen and (max-width: 1200px) {

      .sectionMain {
          
          grid-template-columns: 42% 42%;
          grid-template-rows: 25% 25% 25% 25%;
          grid-template-areas: 
                                 "foto1  foto2"
                                 "foto3  foto4"
                                 "foto5  foto6"
                                 "foto7  foto8"; }

    .main {
        height: 1700px;
                                }
                                
   .mainPromo {
        height: 1300px;
                                }
  }
 
 
  
  @media only screen and (max-width: 800px) {
    .main {
      height: 1500px;
    }

    .mainPromo {
      height: 1700px;
    }

    #piePagina .folog {
     
      margin-left: 50%; }

      .sectionMain .menuDiv .card {
           
        width: 15rem;
        
    }
    
     .sectionMain .menuDiv {
       height: 300px;
     }

     .card-img-top {
       width: 65% !important;
       height: 180px;
     }

     .setDiv {
       width: 100%;
       margin-right: 0;
     }
    
    .carUno {
      width: $ancho;
      height: $ancho;
      display: flex;
      justify-content: $medio;
      text-align: $medio;
      gap: 10px; }
   
    .btn-primary {
      color: #fff;
      background-color: $negro;
      border-color: $negro;
      font-family: $tipo; }
    .row {
      display: block; }
    .form-control {
      width: 150%; } }

      #buttonIndex {
        color: white;
        background-color: #ef8d30;
        border-color: #ef8d30;
  
        
      
      }
      
      #buttonIndex:hover {
        background-color: #ff0000;
        border-color: #fa0000;
      }

      .tituloIndex {
        font-size: 2.1rem;
        }

      .tituloTo {
        font-size: 1.8rem;
        }
  

   @media only screen and (max-width: 600px) {
      .sectionMain {
          grid-template-columns: 100%;
          grid-template-rows: 12% 12% 12% 12% 12% 12% 12% 12%;
          grid-template-areas: 
                                   "foto1"
                                   "foto2"
                                   "foto3"
                                   "foto4"
                                   "foto5"
                                   "foto6"
                                   "foto7"
                                   "foto8";
    }

    .main {
      height: 3100px;

    }

    .mainPromo {
      height: 3200px;
    }

    .tituloTo {
      font-size: 1.6rem;
      }

}


  @media only screen and (max-width: 480px) {
    body {
      background-color: $blanco;
      line-height: 1; }

     

      .setDiv h1 {

        font-size: 2rem;
      }

      .card-title {
        font-size: 1.18rem;
      }
   
    p {
      margin-top: 50px; }
  
    #piePagina {
      display: $estilo;
      grid-template-columns: 15% 15%  15% 15% 15%;
      grid-template-rows: 100%;
      grid-template-areas: "icono icono titulo icono icono"; }
    #piePagina .face {
      align-items: $medio;
      margin-left: 20px; }

    #piePagina .folog {
      width: 170%;
      margin-left: 0; }


      .inicioMain {
        height: 600px;
      }

      .galeria {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .close {
        top: 20px;
        right: 20px;
    }

    .libre-box img {
        width: 60vw;
        height: 20vh;
    }
    .next {
      padding: 3px 2px;
    }
    .next img {
        width: 20px;
        height: 14px;
    }
    .form-control {
      width: 100%; }
    
     
      .tituloIndex {
        font-family: 'National2Condensed-Bold';
        font-size: 1.9rem;
        color: #ef8d30;
      }

      .tituloTo {
        font-size: 1.4rem;
        }

        #piePagina div img {
          margin-left: 20px; }

    }
  